{
  "extends": "airbnb",
  "ecmaFeatures": {
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": false,
    "generators": true,
    "modules": false,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": false
  },
  "rules": {
    "strict": [ 2, "global" ],
    "indent": [ 2, "tab" ],
    "max-len": [1, 160],
    "space-after-keywords": [1, "never"],
    "space-before-function-paren": [1, "never"],
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "comma-dangle": [ 2, "never" ]
  }
}
